<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>
<h3>SEO that suits your needs!</h3>
<hr />
<h4>Hourly rate</h4>
<p>
If you wish me to get your website high on Google and other major search engines and controll your expenses, hourly rate is your choice!</p>
<p><i>You can stop at any time! No contracts, no upfront costs!</i></p>

<p>For only <strong>&pound;15 pounds p/h</strong> <strong>*100% cheaper than a company*</strong> you will get your website high on Google in no time. If you're not happy with the result or if you wish to spend less money at any week, you're allowed to "stop" or "pause" my work.</p>
</p>

<hr />
<h4>Fixed cost</h4>
<p>Knowing how much you have to pay in advance is a great thing, you know what you expect and in what time-frame.</p>

<p>Here's a small SEO pricing for you to check out</p>
<ul>
	<li>Onsite SEO - From &pound;50 (based on number of pages)</li>
	<li>Social Media - &pound;8 each account (Facebook, Twitter, Instagram)</li>
	<li>Offsite SEO - From &pound;100</li>
	<li>Advertising - From &pound;80 (includes leaflet / poster design)</li>
</ul>

<hr />
<h4>Performance based</h4>
<p>Not sure if you want to spend money on something that may not work?</p>
<p>You only pay for being on first page on Google (1-10 position) &pound;100 per keyword</p>

</div>

</div>
</div>