<div class="home-container">
<div class="row-fluid">

<div class="span12 white">
<%= render 'layouts/breadcrumb' %>
<h3>Our SEO Plans</h3>
<hr />


<div class="row-fluid">
<div class="span3 text-center">
  <div class="rounded bg-turcus icon"><%= image_tag '/images/icons/Service-Package-40.png', vspace: 40 %>
  </div>
</div>

<div class="span9">
  <h4>Hourly Rate</h4>
  <p>&pound;15 per hour - Usually takes around 20-30 hours including "Onsite SEO"</p>
  <p>Subsequent ongoing SEO work. The number of hours per week is entirely up to you. Most businesses opt 2 hours per week.</p>

  <p><strong>You can stop or pause SEO work at any time without any penalties.</strong></p>
</div>
</div>
<hr />

<div class="row-fluid">
<div class="span3 text-center">
  <div class="rounded bg-light-red icon"><%= image_tag '/images/icons/Service-Package-40.png', vspace: 40 %>
  </div>
</div>

<div class="span9">
  <h4>Fixed Cost</h4>
  <p>Fixed cost SEO is a great way of controlling your expenses, you know what to expect and when. <br />
If your website needs onsite/offsite SEO work, this option is ideal for you!
  </p>
  <ul>
	<li>Onsite SEO - From &pound;50 (based on number of pages)</li>
	<li>Social Media - &pound;8 each account (Facebook, Twitter, Instagram)</li>
	<li>Offsite SEO - From &pound;100</li>
	<li>Advertising - From &pound;80 (includes leaflet / poster design/ link building)</li>
</ul>
<p class="muted">Prices may vary depending on complexity.</p>
</div>
</div>
<hr />

<div class="row-fluid">
<div class="span3 text-center">
  <div class="rounded bg-purple icon"><%= image_tag '/images/icons/Service-Package-40.png', vspace: 40 %>
  </div>
</div>

<div class="span9">
  <h4>Performance based charges</h4>
  <p>Not sure if you want to spend money on something that may not work?<br />
You only pay for being on the first page of Google (1st-10th position). £100 per keyword.</p>
<p class="muted">On any major browser or the one that is the most important to you.</p>
</div>
</div>
<hr />

 <p class="muted padding-20">The ultimate achievement of being on top of all major engines depends on many factors such as: website url, category, competition.<br />
We promise to lead you through the whole marketing campaign and try to increase your profit.
 </p>


<hr />

</div>

</div>
</div>