<div class="home-container">
<div class="row-fluid">

<div class="span12 white">
<%= render 'layouts/breadcrumb' %>
<h3>Work On Existing Website</h3>

<hr />

<div class="row-fluid">
<div class="span3 text-center">
  <div class="rounded bg-turcus icon"><%= image_tag '/images/icons/Above-The-Fold-40.png', vspace: 40 %>
  </div>
</div>

<div class="span9">
  <h4>Manage My Website</h4>
  <p>Give us an opportunity to take care of your website. With this option you can choose whether you want to pay monthly or per update. We offer great prices and incredible discounts for existing customers.</p>
</div>
</div>
<hr />


<div class="row-fluid">
<div class="span3 text-center">
  <div class="rounded bg-red-dark icon"><%= image_tag '/images/icons/Web-Development-40.png', vspace: 40 %>
  </div>
</div>

<div class="span9">
  <h4>Fix My Website</h4>
  <p>No job is too small! We can undertake any task, even if it's as small as updating a paragraph on your website. The smaller update the less you pay! Other companies can charge you set amount of money for small changes, while we believe you should only pay for our work spent on it.</p>
</div>
</div>
<hr />

<div class="row-fluid">
<div class="span3 text-center">
  <div class="rounded bg-orange icon"><%= image_tag '/images/icons/Web-design-40.png', vspace: 40 %>
  </div>
</div>

<div class="span9">
  <h4>New Design</h4>
  <p>Give your website a professional look! Step 1 - Design new layout. Step 2 - Implement it! You don't have to pay for both Web Designer &amp; Web Developer to change the look of your website! We will do both for the same amount of money. </p>
</div>
</div>
<hr />


</div>

</div>
</div>

