<div class="home-container">
<div class="row">

<div class="span9 white">
<%= render 'layouts/breadcrumb' %>


<div class="page-header"><h3>Customize your website</h3></div>
<%= render 'form' %>

</div>

<div class="span2 white pull-right">
<h4>Your shopping cart is empty</h4>
</div>

</div>
</div>