<div class="home-container">
<div class="row-fluid">

<div class="span10 white padding-20">
<%= render 'layouts/breadcrumb' %>


<div class="page-header"><h3>Customize your website</h3></div>
<%= render 'form' %>

</div>

<div class="span3 white padding-20 fixedPos">
  <h3>Price: <span id="price">0.0</span></h3>
</div>


</div>
</div>
