<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>

<span class="pull-left" style="padding:0px 20px 20px 0px;"><img src="/images/r-design.png" class="img-rounded"></span>
<h2 class="blue">What is responsive design?</h2>
<p>
796.020.573
If your website is not responsive, it means that it will not adapt to the screen size. So you're website looks the same on all devices *Mobile phones, Tablets.. etc. We all know that it's very hard to navigate on such a website, the text is small and links are almost impossible to click.
</p>

<h5>Fluid Foundation</h5>
<p>This is where responsive design comes to play, the first step is to change your website to use percentages instead of pixels or centimeters, this is called *Fluid foundation*, your website will not scale down along with the browser size.<br />
But when the screen is getting smaller, your website becomes to squeeze too much! This is the job of *media queries* to make it work.</p>

<h5>Media Queries</h5>
<p>Those are a little magical things or a pieces of code rather, that controll the behaviour of the website when the display gets smaller.</p>
<p>
There's nothing better than an example to show you what all this is. Imagine there is 2 boxes on your website, one on the right and one on the left.. Now imagine that your website is built on a Fluid Foundation, when the screen gets smaller those two boxes gets smaller and squeeze so much that at some point it looks funny. Media Queries will put one box under another when your display reach specific width.
For example, when your screen is less than 500px wide, the box will move down so that way all the elements on the websites are displayed correctly.
</p>


<h4>Cost of making your website Responsive</h4>
<p><strong>£30 per page, the price can be adjusted to your needs. Bigger website means smaller fee.</strong></p>


</div>


</div>
</div>

