<div class="home-container">
<div class="row-fluid">

<div class="span12 white">
<%= render 'layouts/breadcrumb' %>
<div class="row-fluid">
<div class="span12 padding-20">
<span class="pull-right" style="padding:0px 0px 20px 20px;"><img src="/images/r-design.png" class="img-rounded"></span>
<h2 class="blue">What Is Responsive Design?</h2>
<p>
Responsive website automatically adjust itself in to any screen size, whether it's a iPhone, iPad, Android, large/small screen PC or even not yet invented devise.. Your website is prepared to take this challange and fit!
</p>
<hr />
<h5>Fluid Foundation</h5>
<p>The first step of turning your website into responsive is to have fluid foundation, it means that your website will no longer use set width like pixels or inches. The whole grid will use percentage values to determine the width of the website. </p>

<p>With the fluid foundation in place, the website will now scale up and down along with the screen size. You can preview this by resizing your browser's window.</p>
<hr />
<h5>Problem with the fluid foundation:</h5>
We still have the problem here, as the screen size gets smaller, your website squeeze and comes to a point where everything looks silly. The solution to this problem are <strong>Media Queries</strong>!
</p>
<hr />
<h5>Media Queries</h5>
<p>Those are a little magical things or a pieces of code rather, that controll the behaviour of the website when the screen size gets smaller.

There's a great example of using media queries on this website <a href="http://css-tricks.com/animated-media-queries/" target="_blank">media queries</a>.
</p>

<p>When all that is done, you can now call your website Responsive! Your site is now on a strong fluid foundation and adapt to any screen size out there!
</p>

<hr />

<div class="row-fluid">
<div class="span3 text-center">
  <div class="rounded bg-turcus icon"><%= image_tag '/images/icons/Responsive-Design-40.png', vspace: 40 %>
  </div>
</div>

<div class="span9">
  <h4>How much does it cost</h4>
  <p>Our typical cost is &pound;30 per page. The bigger your website is, the better discount you will get!
  <br />Sounds good? Give us a quick mail and see what we can offer you!</p>
  <p class="muted">The price can be adjusted to suit your budget.</p>
</div>
</div>
<hr />



</div>
</div></div>


</div>
</div>

