<h1>Stories</h1>

<div class="home-container">
<div class="row">

<div class="span9 white">
<%= render 'layouts/breadcrumb' %>
<h3>Welcome to our website</h3>

<% @blogs.each do |blog| %>
  
    <h4><%= blog.title %></h4>
    <i><%= blog.category %></i>
    <p><%= blog.description %></p>

  
<% end %>

</div>

<div class="span2 white pull-right">
<h4>Your shopping cart is empty</h4>
</div>

</div>
</div>