<div class="home-container">
<div class="row-fluid padding-20 white rounded-box">
<div class="span12">

<table class="table table-bordered colorTable">
  <th>Average Pricing</th>
  <th>Option 1</th>
  <th>Option 2</th>
  <th>Option 3</th>
  <th>Option 4</th>

<tr class="colorTab">  	
<td>Pro Design</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
</tr>

<tr class="colorTab">  	
<td>Number of pages</td>
<td>1-6</td>
<td>7-10</td>
<td>11-15</td>
<td>Unlimited</td>
</tr>

<tr class="colorTab">  	
<td>SEO Friendly</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
</tr>

<tr class="colorTab">  	
<td>Number of emails</td>
<td>1</td>
<td>< 3</td>
<td>< 6</td>
<td>10</td>
</tr>

<tr class="colorTab">  	
<td>Latest news</td>
<td>No</td>
<td>No</td>
<td>Yes</td>
<td>Yes</td>
</tr>

<tr class="colorTab">  	
<td>Contact form</td>
<td>Yes</td>
<td>Yes	</td>
<td>Yes</td>
<td>Yes</td>
</tr>

<tr class="colorTab">  	
<td>CMS</td>
<td>No</td>
<td>No</td>
<td>No</td>
<td>Yes</td>
</tr>

<tr class="boldedTable">  	
<td>Average Price</td>
<td>&pound;330</td>
<td>&pound;540</td>
<td>&pound;740</td>
<td>&pound;1100</td>
</tr>


</table>

<hr />
<h4>Custom website pricing</h4>

<h5>Design</h5>
<ul>
<li>Design based on template &pound;9p/h (1 page - 1Hour)</li>
<li>Design from scratch unique to my business &pound;15p/h (1 pages - 1Hour)</li>
<li>Professional design &pound;20p/h (1 pages - 1Hour)</li>
</ul>

<h5>Logo</h5>
<ul>
<li>I have my own logo - &pound;0</li>
<li>Design simple logo *text based* - &pound;35</li>
<li>Design professional logo - &pound;100+</li>
</ul>

<h5>Content</h5>
<ul>
<li>1 Page - &pound;20</li>
<li>I will supply images - &pound;0</li>
<li>Supply free stock images - &pound;10 per page</li>
<li>Supply professional images unique to my business - &pound;20 per page</li>
<li>I will supply content - &pound;5 per page</li>
<li>Write professional content for me - &pound;0.10 each word</li>
</ul>

<h5>Features</h5>
<ul>
<li>Credit card payment - &pound;150</li>
<li>Blog - &pound;100</li>
<li>Forum - &pound;250+</li>
<li>Newsletter - &pound;90+</li>
<li>Image gallery / Portfolio - &pound;50</li>
<li>Customer reviews / Testimonials - &pound;40</li>
<li>Lightbox picture viewer - &pound;20</li>
<li>Contact form - &pound;30</li>
</ul>

<h5>Social Media</h5>
<ul>
<li>Facebook / Twitter / Google+ / Pinterest - &pound;10 each account</li>
<li>Share this button - &pound;15</li>
</ul>

<h5>Effects</h5>
<ul>
<li>Image slider - &pound;20 *Your images* or &pound;30 *our images*</li>
<li>Dropdown menu of your choice - &pound;30 + &pound;2 each link</li>
<li>Hover link/button/box effect - &pound;5 per page</li>
<li>Video embed - &pound;10</li>
<li>Interactive map - &pound;40</li>
<li>Google maps integration - &pound;10</li>
</ul>

</div></div></div>