<div class="home-container">
<div class="row">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>
<h3>Already With Us</h3>

<% @portfolio.each do |t| %>
<div class="portfolioItem">
<ul class="thumbnails port">
  <li class="span5">
    <div class="thumbnail">
    <%= link_to (image_tag t.photo.url), t %>
    	<hr />

      <h4 style="padding-left:10px;"><%= t.name %></h4>
      <hr />
      <p style="padding-left:10px;"><%= t.description %></p>
    </div>
  </li>
</ul>
</div>

<% end %>

</div>


</div>
</div>