<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">

<span class="pull-left"><%= @message.name %></span><span class="pull-right"><%= @message.email %></span>
<hr />
<span class="pull-right">Contact: <strong><%= @message.phone_number %></strong></span>
<br />
<br />
<p><%= @message.message %></p>
<hr />

</div></div></div>


