<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
 
 <% @questions.each do |question| %>
<div class="inbox-row">
 <strong>Subject</strong>&nbsp;<% if question.subject %><%= question.subject.capitalize! %><% end %><br />
 <%= truncate question.description, length: 100 %>

<span class="pull-right"><%= link_to 'Read', admin_quick_question_path(question) %> | Delete</span>

 </div>

 <% end %>

</div>
</div>
</div>

