<div class="home-container">
<div class="row-fluid rounded-box white padding-20">
<div class="span12">

<%= simple_form_for @freeby do |t| %>

<%= t.input :name %>
<%= t.input :description %>
<%= t.submit %>

<% end %>

</div>
</div>
</div>
