<div class="home-container">
<div class="row-fluid white padding-20 rounded-box">
<div class="span4">
<%= render partial: 'admin/shared/nav_tab' %>
</div>

<div class="span8">

</div>
</div>




</div>