<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>
<h3>The whole process</h3>
<p>So how does it all work? Where do we start and when?</p>
<hr />

<h4>The research
</h4>

<p><span class="pull-right"><img src="/images/about/research.jpg" width="300px" class="img-shadow"></span>
First and one of the most important steps of building website is the "Research" This is where we decide what components work with each other and which don't. This may sound boring and unnecessary, but searching the web for other websites similiar to your business and learning from them is a big step, this lets us construct the strategy for your website and implement it during the development process.<br />

<h4>IA (Information Architecture)</h4>
<p>
Information architecture is also a big step allowing us to lay the content out on the pages. We use everything.. blank sheets, yellow sticker paper cards, stickers.. Everything that will help us see what's better solution to organise the content and what fits together. In this step we got basic look of your website structure and a basic navigation strategy.
</p>

<h4>Site maps</h4>
<p>Now when we finnaly know where and how to organise the content, we can proceed and prepare a sample sitemaps to show you the map of the site. You are now able to see where you will go by clicking on a specific link and how fast does it take to get to your destination.
</p>

<h4>The big preparation</h4>
<p>Now when we know the structure of your website and that we can see where we're going, we are now one step closer to finishing the project. At this stage we prepare the folders, all the necessary software we will use and all other necessary resources.</p>

<hr />

<h3>Design</h3>
The design process is our happy time, we can now put all of our design skills on the screen and impress you with the new layout.

<h4>Wireframes</h4>
<p>This is a real life example of how the website will look like, all of the components that will appear on the website are now visible on a piece of paper or sample pdf.</p>

<h4>Mock-ups</h4>
<p>We can now implement basic look of the site to the screen using Photoshop, this will allow us to easily modify any changes that you need to your site. Once agreed we can progress to the most exciting part of the process</p>

<hr />

<h3>Time to code!</h3>
<p>It's now the time to get your website up and running! In this stage we will use all of our skills to give you the best value.</p>

<h4>The website</h4>
<p>We will start from building sample home page as this is the first page that your customers will see, this page must be designed in such a way that your customers will get the most valuable information and friendly, trustworthy atmosphere making them aware of your brand. Onces we're done with the index page we can start to make the links go somewhere!</p>

<h4>Make it interactive!</h4>
<p>The next step is to make sure that your website come to a life by interacting with your users.
Popup windows, contact forms, animations, hover effects or sliding images, this all allows your website to interact with the client at some level allowing them to enjoy your website and stay for longer.</p>

<h4>Fill with content</h4>
<p>This is the boring part of our adventure, we will now load the content provided by you or our writers to your website.</p>

<h4>Test</h4>
<p>Almost all done, next step is to ensure that everything works, testing all of the links, interavtivity, contact forms and browser compatibility</p>

<hr />

<h3>Launch</h3>
<p>It's now time to get your website online! We were all waiting for this moment, you can now see your website up and live and your users can enjoy your new online presence!</p>

<h4>Keep and eye on it!</h4>
<p>Even though your website is up and live we still keep an eye on it and test it over the next 48 hours to make sure that everything works as it's suppose to.</p>

<h4>Final Cross-Browser compatibility check</h4>
<p>Once again, we will check that your website works well on all of the major browsers, sometimes things can go tricky onces your website is up and live. We will make sure that it's working as it's suppose to.</p>

<h4>Testimonial</h4>
<p>We greatly appreciate your help by writing a testimonial for us to let our clients rate our services</p>

</div>

</div>
</div>

