<div class="home-container">
<div class="row-fluid">

<div class="span12 white">
<%= render 'layouts/breadcrumb' %>
<h3>The whole process</h3>
<div class="row-fluid">
<div class="span8 padding-20"><h4>The research
</h4>

<p>
One of the first and most important steps in building a website is the "research". This is where we decide which components work well together and which don't. This may sound boring and unnecessary, but searching the web for websites for similar businesses and learning from them is a big step that lets us construct the strategy for your website and implement it during the development process.<br />

<h4>IA (Information Architecture)</h4>
<p>
Information Architecture is another important stage which allows us to lay the content out on the pages. We use everything… from blank sheets to post-it notes and stickers. Anything that will help us to see what's going to be the best solution for organizing the content and what fits together successfully. In thisphase we get the basic look of your website structure as well a basic navigation strategy.
</p>

<h4>Site maps</h4>
<p>When we reach the stage where we have an idea of where and how to organize the content successfully, we can proceed and prepare a sample sitemap to show you the layout of the site. You are now able to see where you will go by clicking on a specific link and how quickly it takes you to your destination.
</p>

<h4>The main preparation</h4>
<p>
When we know the structure of your website and we can see exactly where we're going with it we are one step closer to finishing the project. At this stage we prepare the folders, the software we will use and all the other necessary resources.</p>

<hr />

<h3>Design</h3>
The design process is our happy time, we can now put all of our design skills on the screen and impress you with the new layout.

<h4>Wireframes</h4>
<p>This is a real life example of how the website will look.  All of the components that will appear on the website are now visible on paper or in pdf format.</p>

<h4>Mock-ups</h4>
<p>We can now implement the basic on-screen look of the site using Photoshop, this will allow us to easily apply any modifications that you wish to make to your site. Once all is confirmed we can progress to the most exciting part of the process.</p>

<hr />

<h3>Time to code!</h3>
<p>It's now time to get your website up and running! In this stage we will use all of our skills to give you the best quality and value.</p>

<h4>The website</h4>
<p>We will start by building a sample home page as this is the first page that your customers will see. This page must be designed in such a way that will allow your customers to get the most valuable information and to experience a friendly, trustworthy atmosphere that makes them aware of your brand. Once we're done with the index page we can start to make the links go somewhere!</p>

<h4>Make it interactive!</h4>
<p>The next step is to make sure that your website comes to a life by interacting with your users. Pop-up windows, contact forms, animations, hover effects or sliding images, this all allows your website to interact with the client at a level which allows them to enjoy your website and stay on it longer.</p>

<h4>Loading content</h4>
<p>This is the time-consuming part of our adventure, we will now load the content provided by you or our writers to your website.</p>

<h4>Test</h4>
<p>Almost done! This step ensures that everything works and involves testing all the links, interactivity, contact forms and browser compatibility.</p>

<hr />

<h3>Launch</h3>
<p>It's now time to get your website online! The moment we’ve all been waiting for! You can now see your website up and running and your users can enjoy your new online presence!</p>

<h4>Keeping an eye on it!</h4>
<p>Even though your website is up and running we still keep an eye on it and test it over the next 48 hours to make sure that everything is working as it's supposed to.</p>

<h4>Final cross-browser compatibility check</h4>
<p>Once again, we will check that your website works well on all the major browsers. Sometimes there can be a few teething problems once your website is up and running. We will make sure that it's working as it's supposed to.</p>

<h4>Testimonials</h4>
<p>We would greatly appreciate your help by writing a testimonial for us in order to let our clients rate our services.</p>
</div>


<div class="span4 padding-20"></div>
</div>


</div>

</div>
</div>

