<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>
<h3>We Design &amp; Development For Small Companies</h3>

<div class="row-fluid">
<div class="span8 padding-20"><p><blockquote><i>
Web Design Stories is a group of passionate Web Developers and Designers working together to give you the best value for your money.<br />
Beign able to work along with our great customers is a big opportunity, every day we're working with people responsible for the flow of the current market.</blockquote></i>
</p>
<hr />
<h4>From small business for small companies!</h4>
<p>
We specialize in the sector of Website Design & Development, Branding and Marketing <strong>only for small companies!</strong>
</p>
<p>We are a small business too! That's why we perfectly understand your needs and future goals.</p>



<hr />
<h4>How can we help</h4>
<p>There are few ways of building a powerful company on a solid foundations. We carefully picked the most effective ones to help you get on top!</p>
<p>Get in touch with us to discuss your future goals and to choose the most effective way of growing your company!</p>

<hr />
<h4>What we do</h4>
<p>
We build websites for small companies to help them achieve their goals. Our team has explored many different sectors of Web Development & Design, Branding and SEO and picked the right options to make <strong>your company stand out from the crowd</strong>.
</p>

<p>
Explore the secrets of <strong>"Running a Successful Company"</strong>.
<ul>
<li>Marketing &amp; Promoting</li>
<li>Sales &amp; Pitching</li>
<li>Client Services</li>
<li>Growing Your Business</li>
<li>Lifestyle Choice</li>
<li>Getting Work Done</li>
</ul>
</p>


</div>



<div class="span4 padding-20"><span class="pull-right"><img src="/images/about/edinburgh.jpg" alt="Edinburgh - Web Design & Development" class="img-polaroid"><br /><i><span class="muted">Edinburgh - Web Design Stories</span></i></span></div>
</div>

</div>
</div>
</div>