<div class="home-container">
<div class="row">

<div class="span9 white">
<%= render 'layouts/breadcrumb' %>
<h3>Who we are and what we do</h3>
<p><span class="pull-right"><img src="/images/thomas.jpg" width="200px" alt="Web design stories leader"><br /><i><span class="muted">Thomas.G WebDesignStories</span></i></span>
Web Design Stories is a group of passionate Web Developers and Designers working together to give you the best value for your money.<br />
Beign able to work along with our great customers is a big opportunity, every day we're working with people responsible for the flow of the current market.
</p>

<h4>How do we deliver an excellence?</h4>
<p>
We've carefully collected a team of Web Developers and Designers so that they fit each other perfectly, it's just like a joiner would be a great electrician or housekeeper with skills of welder. Our people specialize in different categories, sometimes not related to each other completely. This way the person designing your website can implement his side skills into the project while person responsible for building it, will do onsite SEO along the way *for free*.
</p>

</div>

<div class="span2 white pull-right">
<h4>Your shopping cart is empty</h4>
</div>

</div>
</div>