<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>
<h3>Web Design &amp; Development in Edinburgh For Small Companies</h3>

<div class="row-fluid">
<div class="span8 padding-20"><p><blockquote><i>
Web Design Stories is a group of passionate Web Developers and Designers in Edinburgh working together to give you the best value for your money.<br />
Being able to work with our customers is a great opportunity, every day we're working with people responsible for the flow of the current market.</blockquote></i>
</p>
<hr />
<h4>From one small business to another!</h4>
<p>
We specialize in the Website Design & Development in Edinburgh, Branding and Marketing sector
-<strong> only for small businesses!</strong>
</p>
<p>We are a small business too! That's why we perfectly understand your needs and future goals.</p>



<hr />
<h4>How we can help</h4>
<p>There are a number of ways of building a powerful company on solid foundations. We’ve carefully picked the most effective methods to help you get on top!</p>
<p>Get in touch with us to discuss your future goals and to choose the most effective way of growing your business!</p>

<hr />
<h4>What we do</h4>
<p>
We build websites for small companies in Edinburgh in order to help them achieve their goals. Our team has explored many different sectors of Web Development & Design, Branding and SEO and has picked the right options to make <strong>your company stand out from the crowd</strong>.
</p>

<p>
Explore the secrets of <strong>"Running a Successful Company"</strong>.
<ul>
<li>Marketing &amp; Promoting</li>
<li>Sales &amp; Pitching</li>
<li>Client Services</li>
<li>Growing Your Business</li>
<li>Lifestyle Choice</li>
<li>Getting Work Done</li>
</ul>
</p>


</div>



<div class="span4 padding-20"><span class="pull-right"><img src="/images/about/edinburgh.jpg" alt="Edinburgh - Web Design & Development" class="img-polaroid"><br /><i><span class="muted">Edinburgh - Web Design Stories</span></i></span></div>
</div>

</div>
</div>
</div>