<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>
<h3>Who we are and what we do</h3>

<div class="row-fluid">
<div class="span8"><p>
Web Design Stories is a group of passionate Web Developers and Designers working together to give you the best value for your money.<br />
Beign able to work along with our great customers is a big opportunity, every day we're working with people responsible for the flow of the current market.
</p>

<h4>How do we deliver an excellence?</h4>
<p>
We've carefully collected a team of Web Developers and Designers so that they fit each other perfectly, all of them are hard working with an excellent attention to detail.
</p>
<p>
Our great people come from different environments and backgrounds, each with proven experience in Web Design & Development.</p>
<p>
No matter what has to be done, we'll get it delivered as soon as it's possible with the highest quality.
</p>

<h4>You make us happen</h4>
<p>It's you who make us grow big, we're newly established team of freelancers trying to get to the top even if we have to work 24/h</p>
<p>Our goal is to conquer the market of Web Development & Design and bring new "bright" light to your company. We say no to the companies that charge thousands of pounds for something that can be done better, faster and cheaper.
</p>

<h4>Choose us</h4>
<p>We will give you the most of our services at the best price, our friendly team will walk you through the whole process explaining things better and easier! You are always entitled to a professional advice, whether it's morning or late evening, our team is always there for you!
</p>

<p>
Our people come from different countries, therefore we can serve you in few other languages, give us a mail to find out whether you can speak to a Developer in your own language!
</p>

</div>



<div class="span4"><span class="pull-right"><img src="/images/about/edinburgh.jpg" alt="Edinburgh - Web Design & Development" class="img-polaroid"><br /><i><span class="muted">Edinburgh - Web Design Stories</span></i></span></div>
</div>

</div>
</div>
</div>