<div class="home-container">
<div class="row-fluid padding-20 rounded-box white">
<div class="span12">

	
	<div class="well">
	<%= image_tag(@site.photo.url) %>
	</div>

	<table class="table">
	<th>Name:</th>
	<th>Description</th>
	<tr>
		<td><%= @site.name %></td>
		<td><div class="span6"><%= @site.description %></div></td>
	</tr>
	</table>


</div>
</div>
</div>