    <ul class="breadcrumb">
    <li class="active"><%= controller.controller_name.capitalize %>&nbsp;<span class="divider">&gt;</span></li>
    <li class="muted"><%= @breadcrumb %></span></li>
    </ul>

  