    <ul class="breadcrumb">
    <li><a href="#"><%= controller.controller_name.capitalize %></a> <span class="divider">/</span></li>
    <li class="active"><%= @breadcrumb %></span></li>
    </ul>

  